extends ../layout

block content
  .container
    h1 Meetup Detail
    .row
      .col-md-6
        .col-md-12
          img(src='http://lorempixel.com/400/400/', alt='')
          p MeetUp Group Details Here
      .col-md-6
        .col-md-12
          h4 Event Details
          p Date: 
          p Time: 
          P Location:
