<div id="container">
  <div class="row"><
    <div id="displayTop" class="col-md-12">
        <h1>goodbye</h1>
    </div>
  </div>
  <div class="row">
    <div id="display" class="col-md-12">
      <p>
        Authentic pinterest fanny pack poutine street art kickstarter.
      </p>
      <form method="POST" action="/">
        <fieldset class="form-group">
          <label for="zipcode">Zipcode</label>
          <input id="zipcode" name='zipcode' class="form-control"  placeholder="12345">
        </fieldset>
        <fieldset class="form-group">
          <label for="categories">Categories</label>
          <select multiple class="form-control" name='categories' id="categories">
            <option name="1">Arts & Culture</option>
            <option name="18">Book Clubs</option>
            <option name="2">Career & Business</option>
            <option name="3">Cars & Motorcycles</option>
            <option name="4">Community & Environment</option>
            <option name="5">Dancing</option>
            <option name="6">Education & Learning</option>
            <option name="8">Fashion & Beauty</option>
            <option name="9">Fitness</option>
            <option name="10">Food & Drink</option>
            <option name="11">Games</option>
            <option name="14">Health & Wellbeing</option>
            <option name="15">Hobbies & Crafts</option>
            <option name="16">Language</option>
            <option name="12">LGBT</option>
            <option name="17">Lifestyle</option>
            <option name="13">Government & Politics</option>
            <option name="20">Movies & Film</option>
            <option name="21">Music</option>
            <option name="22">New Age Spirituality</option>
            <option name="23">Outdoors Adventure</option>
            <option name="24">Paranormal</option>
            <option name="25">Parents & Family</option>
            <option name="26">Pets & Animals</option>
            <option name="27">Photography</option>
            <option name="28">Religious Beliefs</option>
            <option name="29">Sci-Fi & Fantasy</option>
            <option name="30">Singles</option>
            <option name="31">Socializing</option>
            <option name="32">Sports & Recreation</option>
            <option name="33">Support</option>
            <option name="34">Tech</option>
            <option name="35">Writing</option>
          </select>
        </fieldset>
        <button type="submit" class="btn btn-primary submit">Submit</button>
      </form>
    </div>
  </div>
</div>
