extends layout

block content
  .container
    .event-options
      .row
        form(action='index', method='POST')
        .col-md-3
          input(type='checkbox' name='cat-arts')
          label(for='cat-arts') Arts & Culture
          br
          input(type='checkbox' name='cat-book')
          label(for='cat-arts') Book Clubs
          br
          input(type='checkbox' name='cat-career')
          label(for='cat-arts') Career & Business
          br
          input(type='checkbox' name='cat-cars')
          label(for='cat-arts') Cars & Motorcycles
        .col-md-3
          input(type='checkbox' name='cat-community')
          label(for='cat-arts') Community & Environment
          br
          input(type='checkbox' name='cat-dancing')
          label(for='cat-arts') Dancing
          br
          input(type='checkbox' name='cat-education')
          label(for='cat-arts') Education & Learning
          br
          input(type='checkbox' name='cat-fashion')
          label(for='cat-arts') Fashion & Beauty
        .col-md-3
          p More checkboxes here
        .col-md-3
          p More checkboxes here

      .row
        .col-md-12
          p More event options here

      .row
        .col-md-12
          p And more event options here

    .row
      .col-md-12.user_zip
        .col-md-offset-4 Enter your zipcode:
                         input(text class='user_zipcode')
                         button(type=submit) Submit

    .row
      .col-md-12.map-container
        .col-md-12.col-md-offset-2.map
          img(src='http://lorempixel.com/800/500', alt='map goes here')

    .row
      .col-md-12.text-center.footer
        p
          small © Meetup Mapper 2016
      .col-md-12.text-center
        p
          small Made in Seattle.
