extends layout

block content
  .container
    h1 Find a MeetUp near you!
    .row
      .col-md-6
        .col-md-12
          img(src='http://lorempixel.com/400/400/', alt='')
          p Map Things Here
      .col-md-6
        .col-md-12
          img(src='http://lorempixel.com/400/400/', alt='')
          p talk about other things here

    .row
      .col-md-12.text-center.footer
        p
          small © Meetup Mapper 2016
      .col-md-12.text-center
        p
          small Made in Seattle.
