
</head>
<style>
.leaflet-popup-content img {
  max-width:100%;
  }
</style>
<body>
  <form class="" action="/zip" method="post">
    <input type="number" name="zip" value="" placeholder="Zip code">
    <input type="submit" name="name" value="submit">
  </form>
<div id='map'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1Ijoic2FuZHlnaWxmaWxsYW4iLCJhIjoiY2luOWg3NGt2MXRqaHR5bHlibWc0c2t1diJ9.yQYGYNLuWKMFPvWoPZAyYg';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([47.6, -122.3], 12);

var myLayer = L.mapbox.featureLayer().addTo(map);
// console.log({{markers.coordinates}});
// var geoJson = {{markers}};
var geoJson = [{
    type: 'Feature',
    "geometry": { "type": "Point", "coordinates": [-122.3, 47.6]},
    "properties": {
        "image":  "https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Cherry_Blossoms_and_Washington_Monument.jpg/320px-Cherry_Blossoms_and_Washington_Monument.jpg",
        "url": "https://en.wikipedia.org/wiki/Washington,_D.C.",
        "marker-symbol": "star",
        "marker-color": "#ff8888",
        "marker-size": "large",
    }
}, {
    type: 'Feature',
    "geometry": { "type": "Point", "coordinates": [-122.5, 47.6]},
    "properties": {
        "image": "https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Chicago_sunrise_1.jpg/640px-Chicago_sunrise_1.jpg",
        "url": "https://en.wikipedia.org/wiki/Chicago",
        "marker-color": "#ff8888",
    }
}, {
    type: 'Feature',
    "geometry": { "type": "Point", "coordinates": [-122.4, 47.6]},
    "properties": {
        "image": "https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/NYC_Top_of_the_Rock_Pano.jpg/640px-NYC_Top_of_the_Rock_Pano.jpg",
        "url": "https://en.wikipedia.org/wiki/New_York_City",
        "marker-color": "#ff8888",
    }
}];


// Add custom popups to each using our custom feature properties
myLayer.on('layeradd', function(e) {
    var marker = e.layer,
        feature = marker.feature;

    // Create custom popup content
    var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                            '<img src="' + feature.properties.image + '" />' +
                            feature.properties.city +
                        '</a>';

    // http://leafletjs.com/reference.html#popup
    marker.bindPopup(popupContent,{
        closeButton: false,
        minWidth: 320
    });
});

// Add features to the map
myLayer.setGeoJSON(geoJson);
</script>
