/*body { margin:0; padding:0; }*/
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container {
  margin: 5px 25px 10px 0px;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  margin-top: 50px;
}
#displayTop {
  margin: 5px 0px 0px 10px;
  background-color: #958F8F;
  border-radius: 10px 10px 0px 0px;
  /*overflow: auto;*/
  /*max-height: 80vh;*/
  width: 30%;
  float: right;
}
#display {
  margin: 0px 0px 10px 10px;
  background-color: #958F8F;
  border-radius: 0px 0px 10px 10px;
  overflow: auto;
  max-height: 75vh;
  width: 30%;
  float: right;
}
.notLoggedIn {
  visibility: visible;
}
.loggedIn {
  visibility: visible;
}
.submit {
  margin: 0px 5px 10px 0px;
}

#categories {
  
}
